/* ==============================
   Main Sections
   ============================== */

/* Hero */
.hero-about-section {
  min-height: 500px;
  display: flex;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: var(--radius-lg);
  border-bottom-left-radius: var(--radius-lg);
}

.hero-about-section::before {
  content: "";
  position: absolute;
  inset: -8px;
  background: url(../../assets/images/hero02.jpg);
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(1.5px);
  z-index: 0;
}

.hero-about-section h1 {
  margin: 0;
  position: absolute;
  bottom: -8%;
  z-index: 1;
  font-size: 128px;
  font-weight: bold;
  color: var(--white-primary);
}

/* About Custodian */

.custodian-about-section h2 {
  font-family: var(--font-tertiary);
  font-size: 40px;
  font-weight: 500;
  margin: 32px auto;
}

.custodian-about-section p {
  font-family: var(--font-tertiary);
  font-weight: 300;
  text-align: justify;
}

/* Carousel */
.carousel-about-section {
  border-radius: var(--radius-lg);
  background-color: var(--background-primary);
}

.swiper {
  width: 100%;
  min-height: 626px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  border-radius: var(--radius-xl);
  width: 700px;
  height: 100%;
  box-shadow: var(--box-shadow-btn);
}

.swiper-slide-shadow-coverflow {
  border-radius: var(--radius-xl);
}

.swiper-slide div {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: var(--radius-xl);
  object-fit: cover;
}

.swiper-slide.card-1 {
  background: linear-gradient(to bottom,
      var(--green-gradient-light) 0%,
      var(--green-gradient-normal) 50%,
      var(--green-gradient-dark) 100%);
}

.swiper-slide .elipse {
  background-image: url(../../assets/images/card01-elise.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.swiper-slide.card-1 img {
  max-width: 80%;
}

.swiper-slide.card-2 {
  background: linear-gradient(to bottom,
      var(--cyan-gradient-light) 0%,
      var(--purple-gradient-light) 50%,
      var(--purple-gradient-dark) 100%);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-slide.card-2::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../../assets/images/card02-custodian-avatar.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 0;
}

.swiper-slide.card-2 h3 {
  position: relative;
  z-index: 1;
  font-size: 96px;
  font-weight: bold;
  color: var(--black-primary);
}

.swiper-slide.card-2 span {
  color: var(--purple-gradient-darker);
}

.swiper-slide.card-3, 
 .swiper-slide.card-4{
  position: relative;
  overflow: hidden;
}

.swiper-slide.card-3 img, 
.swiper-slide.card-4 img {
  width: 100%;
  height: 101%;
  object-fit: cover;
  display: block;
}

/* Keys Benefits */

.keys-about-section p {
  font-family: var(--font-primary);
  font-size: 22px;
  font-weight: 600;
  text-align: justify;
  line-height: var(--line-height-small);
}

.keys-about-section span {
  font-family: var(--font-primary);
  font-size: 128px;
  font-weight: bolder;
  position: relative;
}

.keys-about-section .values-list {
  padding-left: 0;
  list-style-position: inside;
  list-style-type: none;
}

.keys-about-section .values-list li {
  font-size: 28px;
  font-weight: bolder;
  color: transparent;
  background: linear-gradient(to left,
      var(--purple-primary-normal) 0%,
      var(--orange-primary-normal) 100%);
  background-clip: text;
}

.key-mission {
  color: transparent;
  background: linear-gradient(to right,
      var(--pink-gradient) 12%,
      var(--blue-primary-normal) 100%);
  background-clip: text;
}

.key-vision {
  color: transparent;
  background: linear-gradient(to right,
      var(--blue-primary-normal) 0%,
      var(--purple-primary-normal) 100%);
  background-clip: text;
}

.key-values {
  color: transparent;
  background: linear-gradient(to left,
      var(--purple-primary-normal) 0%,
      var(--orange-primary-normal) 100%);
  background-clip: text;
}

/* Benefits */

.benefits-about-section .container-fluid {
  width: 100%;
  max-width: none;
  padding-right: 0;
  padding-left: 0;
}

.benefits-about-section h2 {
  font-weight: bold;
  font-size: 170px;
  color: var(--white-primary);
}

.benefits-about-section .row {
  height: 640px;
  --bs-gutter-x: 0;
  margin-right: 0;
  margin-bottom: 35px;
  margin-left: 0;
}

.benefits-about-section .countries {
  background: url(../../assets/videos/globe.gif);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.benefits-about-section .sleep {
  background: url(../../assets/videos/sleep.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.benefits-about-section .cases {
  background: url(../../assets/videos/cases.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


/* ==============================
   Responsive
   ============================== */

@media only screen and (max-width:1400px) {
  .benefits-about-section h2 {
    font-size: 140px;
  }
}

@media only screen and (max-width:1200px) {

  .hero-about-section h1 {
    bottom: -6%;
    font-size: 108px;
  }

  .keys-about-section span {
    font-size: 108px;
  }


  .benefits-about-section h2 {
    font-size: 100px;
  }
}

@media only screen and (max-width:991px) {

  .hero-about-section h1 {
    bottom: -5%;
    font-size: 88px;
  }

  .swiper {
    min-height: 450px;
  }

  .swiper-slide {
    width: 480px;
  }

  .swiper-slide.card-2 h3 {
    font-size: 64px;
  }

  .keys-about-section span {
    font-size: 56px;
  }

  .benefits-about-section .row {
    height: 540px;
  }

  .benefits-about-section h2 {
    font-size: 92px;
  }
}

@media only screen and (max-width:767px) {


  .swiper {
    min-height: 350px;
  }

  .swiper-slide.card-2 h3 {
    font-size: 48px;
  }

  .keys-about-section {
    padding: var(--section-padding-lg);
  }

  .keys-about-section span {
    font-size: 46px;
  }

  .benefits-about-section .row {
    height: 440px;
  }

  .benefits-about-section h2 {
    font-size: 68px;
  }
}

@media only screen and (max-width:575px) {


  .hero-about-section {
    min-height: 300px;
  }

  .hero-about-section h1 {
    bottom: -8%;
    font-size: 78px;
  }

  .swiper {
    min-height: 250px;
  }

  .swiper-slide {
    width: 280px;
  }

  .swiper-slide.card-2 h3 {
    font-size: 36px;
  }

  .custodian-about-section h2 {
    font-size: 32px;
  }

  .keys-about-section p {
    line-height: var(--line-height-base);
  }

  .keys-about-section span {
    font-size: 36px;
  }

  .benefits-about-section .row {
    height: 240px;
  }

  .benefits-about-section h2 {
    font-size: 48px;
  }
}

@media only screen and (max-width:420px) {

  .hero-about-section {
    border-bottom-right-radius: var(--radius-sm-mobile);
    border-bottom-left-radius: var(--radius-sm-mobile);
  }

  .hero-about-section h1 {
    bottom: -6%;
    font-size: 62px;
  }

  .swiper {
    min-height: 240px;
  }

  .swiper-slide {
    width: 260px;
  }

  .custodian-about-section h2 {
    font-size: 26px;
  }

  .custodian-about-section p {
    font-size: 16px;
  }

  .carousel-about-section {
    border-radius: var(--radius-sm-mobile);
}

  .keys-about-section span {
    font-size: 31px;
  }

  .keys-about-section p {
    text-align: justify;
    font-size: 12px;
  }

  .benefits-about-section h2 {
    font-size: 36px;
  }
}

@media only screen and (max-width:350px) {
  .hero-about-section h1 {
    bottom: -5%;
    font-size: 52px;
  }
}