/* ==============================
   Main Sections
   ============================== */

.form-section h1 {
    font-size: 128px;
    font-weight: 600;
    color: transparent;
    background: linear-gradient(to right,
            var(--blue-primary-normal) 0%,
            var(--purple-primary-normal) 100%);
    background-clip: text;
}

.form-section p {
    font-size: 18px;
    font-weight: 400;
}

.form-section img {
    height: 600px;
    max-height: 600px;
    width: auto;
}

.form-section .form {
    background-color: var(--background-secondary);
    border-radius: var(--radius-sm);
    padding: 66px;
}

.details-section {
    background-color: var(--background-primary);
    border-radius: var(--radius-lg);
}

.details-section h2 {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 58px;
}

.details-section ul {
    list-style-type: none;
    background-color: var(--background-secondary);
    border-radius: var(--radius-md);
    padding: 30px;
}

.details-section li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10px;
}

.details-section li>img {
    width: 35px;
    height: 35px;
    margin: 15px 16px;
}

.details-section a {
    position: relative;
    font-family: var(--font-tertiary);
    font-size: 23px;
    color: var(--black-primary);
}

.details-section a::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: var(--background-footer-primary);
    transition: all 0.25s ease;
}

.details-section a:hover::after {
    width: 100%;
}

.details-section a.hover::after {
    width: 100%;
}


/* ==============================
   Responsive
   ============================== */

@media only screen and (max-width:1200px) {

    .form-section h1 {
        font-size: 98px;
    }

    .form-section p {
        font-size: 14px;
    }

    .form-section .form {
        padding: 46px;
    }

    .details-section h2 {
        font-size: 54px;
    }

    .details-section ul {
        width: 90%;
    }

    .details-section a {
        font-size: 16px;
    }

}

@media only screen and (max-width:992px) {

    .form-section h1 {
        font-size: 78px;
    }

    .form-section img {
        height: 450px;
    }

    .details-section h2 {
        font-size: 44px;
    }

    .details-section ul {
        width: 100%;
        padding: 20px;
    }

    .details-section li>img {
        margin: 8px;
        width: 20px;
        height: 20px;
    }

    .details-section a {
        font-size: 14px;
    }

}

@media only screen and (max-width:768px) {
    .details-section {
        width: 90%;
        margin: 0rem auto;
    }

    .details-section a {
        font-size: 18px;
    }

    .details-section img {
        max-width: 80%;
        margin: 0rem auto;
    }

}


@media only screen and (max-width:420px) {
    .form-section img {
        height: auto;
    }

    .form-section .form {
        padding: 16px;
    }

    .details-section {
        width: 100%;
        margin: 0;
        border-radius: var(--radius-sm-mobile);
    }

    .details-section h2 {
        font-size: 34px;
        margin-bottom: 28px;
    }

    .details-section ul {
        width: 100%;
        padding: 10px;
    }

    .details-section img {
        max-width: 100%;
        margin: 0;
    }


    .form-section .btn-blue {
        width: 160px;
    }


}


@media only screen and (max-width:350px) {
    .form-section h1 {
        font-size: 58px;
    }

    .details-section a {
        font-size: 12px;
    }

}