/* ==============================
   Main Sections
   ============================== */


/* Hero */

.enforcement-services::before {
    content: "";
    position: absolute;
    inset: -8px;
    z-index: 0;
    background: url(../../assets/images/services03.jpg);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.enforcement-services h1 {
    font-size: 138px;
    font-weight: bold;
    color: var(--white-primary);
}