@import url("./base/variables.css");
@import url("./base/reset.css");
@import url("./base/utilities.css");

@import url("./layout/header.css");
@import url("./layout/footer.css");

@import url("./components/buttons.css");
@import url("./components/cards.css");
@import url("./components/accordion.css");
@import url("./components/forms.css");

@import url("./pages/home.css");
@import url("./pages/about.css");
@import url("./pages/contact.css");
@import url("./pages/renewals.css");
@import url("./pages/portfolio.css");
@import url("./pages/watch.css");


@media only screen and (max-width: 1200px) {

    .navbar .navbar-brand {
        font-size: 28px;
    }

    .menu .nav-link,
    .contact .nav-link {
        font-size: 16px;
    }

    .btn-orange,
    .btn-blue {
        max-width: 200px
    }

    .footer {
        padding: 30px;
    }

    .footer h2 {
        font-size: 48px;
    }
}

@media only screen and (max-width: 991px) {

    .btn-orange,
    .btn-blue {
        font-size: 18px;
        max-width: 160px;
    }

    .contact-section .form {
        margin: 0px;
        padding: 36px;
    }

    .contact-section .form label {
        font-size: 20px;
    }

    .reach a {
        font-size: 22px;
        padding-left: 12px;
    }

    .footer h2 {
        font-size: 36px;
    }

    .footer h3 {
        font-size: 26px;
    }

    .footer-contact a {
        font-size: 16px;
        padding-left: 8px;
    }

}

@media only screen and (max-width: 767px) {

    .navbar .navbar-brand {
        font-size: 38px;
    }

    .navbar .menu {
        flex-direction: row;
        margin: 0em auto;
    }

    .navbar .contact {
        margin: 1rem auto;
    }

    section {
        padding: var(--section-padding-sm);
    }

    .btn-orange,
    .btn-blue {
        max-width: 255px;
        font-size: 24px;
    }

    .map-section h2 {
        font-size: 20px;
    }

    .contact-section .form {
        padding: 56px;
    }

}

@media only screen and (max-width: 602px) {
    .about-section p:not(.large) {
        padding: 0rem 11rem 0rem 11rem;
    }
}

@media only screen and (max-width: 575px) {

    .btn-orange,
    .btn-blue {
        max-width: 172px;
        font-size: 18px;
    }

}

@media only screen and (max-width: 490px) {
    .about-section {
        background-image: url(../assets/images/about02.png);
        background-position-x: 105%;
        background-position-y: 65%;
        background-size: 52%;
    }

    .about-section p:not(.large) {
        padding: 0px 212px 0px 0px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 420px) {

    section {
        padding: var(--section-padding-sm);
    }

    .navbar .navbar-brand {
        font-size: 30px;
    }

    .btn-orange,
    .btn-blue {
        max-width: 135px;
        font-size: 16px;
    }

    .map-section h2 {
        font-size: 20px;
        text-align: center;
    }

    .contact-section .form {
        width: 100%;
        padding: 30px;
        margin: 24px auto;
    }

    .contact-section .form .btn-blue {
        font-size: 18px;
        width: 215px;
    }

    .footer {
        padding: 20px
    }


    .footer h2 {
        font-size: 38px;
    }

    .footer-contact a {
        font-size: 16px;
    }

    .footer-copyright a,
    .footer-copyright p {
        padding: 12px;
        font-size: 14px;
    }


}

@media only screen and (max-width: 350px) {

    .navbar .menu {
        width: 280px;
    }

    .navbar .contact {
        width: 130px;
    }

    .menu .nav-link,
    .contact .nav-link {
        font-size: 16px;
    }

    .btn-orange,
    .btn-blue {
        max-width: 120px;
        font-size: 14px;
    }

    .map-section h2 {
        font-size: 16px;
    }

    .contact-section .form label {
        font-size: 20px;
    }

    .contact-section .form .btn-blue {
        font-size: 16px;
        width: 180px;
    }

}