.ip-dark {
    color: var(--blue-primary-dark);
}

.ip-darker {
    color: var(--blue-primary-darker);
}

.gradient-good {
    color: transparent;
    background: linear-gradient(to right,
            var(--purple-primary-normal) 24%,
            var(--blue-primary-normal) 69%);
    background-clip: text;
}

.gradient-fast {
    color: transparent;
    background: linear-gradient(to right,
            var(--red-gradient) 0%,
            var(--yellow-gradient) 75%);
    background-clip: text;
}

.gradient-easy {
    color: transparent;
    background: linear-gradient(to right,
            var(--green-gradient) 0%,
            var(--cyan-gradient) 75%);
    background-clip: text;
}


/* Map */
.map-section h2 {
    text-align: center;
    font-size: 48px;
    font-weight: bolder;
}

#map {
    width: 100%;
    height: 620px;
}

.marker {
    content: url(../../assets/icons/icon19.png);
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: none !important;
    width: 300px;
    padding: 34px;
}

.mapboxgl-popup-content h3 {
    font-family: var(--font-primary);
    font-size: 28x;
    font-weight: bolder;
    color: transparent;
    background: linear-gradient(to right,
            var(--purple-primary-normal) 24%,
            var(--blue-primary-normal) 69%);
    background-clip: text;
    text-align: start;
}

.mapboxgl-popup-content p {
    font-family: var(--font-tertiary);
    font-size: 20px;
    font-weight: bold;
    color: var(--blue-primary-darker);
    text-align: start;
}