.contact-section .form {
    background-color: var(--background-secondary);
    border-radius: var(--radius-sm);
    padding: 46px;
}

.contact-section .form label {
    font-size: var(--font-tertiary);
    font-weight: 300;
    font-size: 18px;
    color: var(--black-primary);
}

.contact-section .form img {
    height: 600px;
    max-height: 600px;
    width: auto;
}

.contact-section .form .btn-blue {
    font-size: 24px;
    font-weight: bolder;
    width: 220px;
    height: auto;
}

.recaptcha-field.is-invalid .invalid-feedback {
    display: block;
}

