    /* Hero */

    .hero-services-section {
        min-height: 500px;
        display: flex;
        align-items: flex-end;
        position: relative;
        overflow: hidden;
        border-bottom-right-radius: var(--radius-lg);
        border-bottom-left-radius: var(--radius-lg);
    }

    .hero-services-section h1 {
        margin: 0;
        position: absolute;
        bottom: -8%;
        z-index: 1;
    }


    /* How you want to do it? */

    .about-services-section {
        border-radius: var(--radius-lg);
        background-color: var(--background-primary);
    }

    .about-services-section .container-fluid {
        width: 100%;
        max-width: none;
        padding-right: 0;
        padding-left: 0;
    }

    .about-services-section .container-fluid>.row,
    .about-services-section .services-diy>.row,
    .about-services-section .services-handle>.row {
        margin-right: 0;
        margin-left: 0;
    }

    .about-services-section h2 {
        margin-bottom: 80px;
        font-size: 64px;
        font-weight: bold;
    }


    .about-services-section .services-diy,
    .about-services-section .services-handle {
        overflow: hidden;
        position: relative;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        color: var(--white-primary);
        padding: 34px;
        min-height: 600px;
        display: flex;
        align-items: center;
    }

    .about-services-section .services-diy {
        background-image: url(../../assets/images/services04.jpg);
    }

    .about-services-section .services-handle {
        background-image: url(../../assets/images/services05.jpg);
    }

    .about-services-section .services-diy::before,
    .about-services-section .services-handle::before {
        content: "";
        position: absolute;
        inset: -8px;
        background: rgb(0, 0, 0, 0.65);
        z-index: 0;
    }

    .about-services-section .services-diy .row,
    .about-services-section .services-handle .row {
        width: 100%;
        position: relative;
        z-index: 1;
    }

    .about-services-section .services-diy h3,
    .about-services-section .services-handle h3 {
        color: var(--blue-primary-normal);
        text-align: start;
        font-size: 56px;
    }

    .about-services-section .services-diy h4,
    .about-services-section .services-handle h4 {
        color: var(--white-primary);
        text-align: start;
        font-size: 34px;
    }


    .about-services-section .services-diy ul,
    .about-services-section .services-handle ul {
        margin: 18px auto;
        padding: 0;
        list-style: none;
    }

    .about-services-section .services-diy li,
    .about-services-section .services-handle li {
        font-size: 14px;
        font-family: var(--font-primary);
    }

    .about-services-section .services-diy li::before,
    .about-services-section .services-handle li::before {
        content: "\2713";
        color: var(--orange-primary-normal);
        padding-right: 18px;
    }


    /* CTA Services Section */
    .cta-services-section {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .cta-services-section .row {
        min-height: 430px;
        width: 80%;
        padding: 1.5rem;
        margin: 0 auto;
        text-align: center;
        color: var(--white-primary);
        background: linear-gradient(135deg,
                var(--blue-primary-darker) 0%,
                var(--blue-primary-dark) 100%);
        border-radius: var(--radius-lg);
    }

    .cta-services-section h2 {
        color: var(--white-primary);
        font-family: var(--font-secondary);
        font-size: 48px;
        font-weight: bolder;
    }

    .cta-services-section p {
        color: var(--white-primary);
        font-family: var(--font-tertiary);
        font-size: 20px;
        font-weight: 300;
    }

    @media only screen and (max-width: 1400px) {

        .about-services-section .services-diy h3,
        .about-services-section .services-handle h3 {
            font-size: 48px;
        }

        .about-services-section .services-diy p,
        .about-services-section .services-handle p {
            font-size: 13px;
        }

    }

    @media only screen and (max-width: 1200px) {

        .portfolio-services,
        .enforcement-services h1 {
            font-size: 108px !important;
            bottom: -6%;
        }

        .about-services-section .services-diy h3,
        .about-services-section .services-handle h3 {
            font-size: 38px;
        }

        .about-services-section .services-diy h4,
        .about-services-section .services-handle h4 {
            font-size: 28px;
        }

        .about-services-section .services-diy li::before,
        .about-services-section .services-handle li::before {
            padding-right: 8px;
        }

        .cta-services-section h2 {
            font-size: 46px;
        }


        .cta-services-section p {
            font-size: 18px;
        }

    }

    @media only screen and (max-width: 992px) {

        .about-services-section .services-diy li,
        .about-services-section .services-handle li {
            font-size: 12px;
        }

        .cta-services-section .row {
            width: 100%;
        }
    }

    @media only screen and (max-width: 767px) {

        .renewals-services h1 {
            font-size: 98px !important;
            bottom: -6%;
        }

        .portfolio-services h1,
        .enforcement-services h1 {
            font-size: 78px !important;
            bottom: -6%;
        }

        .about-services-section h2 {
            margin-bottom: 40px;
            font-size: 44px;
        }

        .about-services-section .services-diy h3,
        .about-services-section .services-handle h3 {
            font-size: 28px;
        }

        .about-services-section .services-diy p,
        .about-services-section .services-handle p {
            font-size: 12px;
        }


        .about-services-section .services-diy h4,
        .about-services-section .services-handle h4 {
            font-size: 24px;
        }


        .about-services-section .services-diy ul,
        .about-services-section .services-handle ul {
            margin: 12px auto;
        }

        .services-diy .btn-blue,
        .services-handle .btn-blue {
            width: 185px;
            font-size: 18px;
        }


        .cta-services-section h2 {
            font-size: 34px;
        }

        .cta-services-section p {
            font-size: 16px;
        }

    }

    @media only screen and (max-width: 575px) {

        .hero-services-section {
            min-height: 300px;
        }


        .renewals-services h1 {
            font-size: 78px !important;
            bottom: -6%;
        }

        .portfolio-services h1,
        .enforcement-services h1 {
            font-size: 48px !important;
            bottom: -3%;
        }

        .about-services-section h2 {
            font-size: 34px;
        }


        .about-services-section .services-diy h3,
        .about-services-section .services-handle h3 {
            font-size: 32px;
        }

        .about-services-section .services-diy p,
        .about-services-section .services-handle p {
            padding-right: 80px;
        }


        .about-services-section .services-diy h4,
        .about-services-section .services-handle h4 {
            font-size: 28px;
        }

        .about-services-section .services-diy ul,
        .about-services-section .services-handle ul {
            margin: 8px auto;
        }

        .services-diy .btn-blue,
        .services-handle .btn-blue {
            max-width: 185px;
            font-size: 22px;
        }

        .cta-services-section h2 {
            font-size: 26px;
        }
    }

    @media only screen and (max-width: 430px) {

        .renewals-services h1 {
            font-size: 58px !important;
            bottom: -5%;
        }

        .portfolio-services h1,
        .enforcement-services h1 {
            font-size: 38px !important;
            bottom: -3%;
        }

        .about-services-section .services-diy,
        .about-services-section .services-handle {
            padding: 8px;
        }

        .about-services-section h2 {
            font-size: 28px;
            margin-bottom: 20px;
        }

        .about-services-section .services-diy h3,
        .about-services-section .services-handle h3 {
            font-size: 38px;
            margin-top: 12px;
        }

        .about-services-section .services-diy p,
        .about-services-section .services-handle p {
            padding-right: 0px;
        }

        .about-services-section .services-diy li::before,
        .about-services-section .services-handle li::before {
            padding-right: 8px;
        }

        .cta-services-section {
            padding: 0;
        }

        .cta-services-section .container-fluid {
            padding: 1rem 0 1rem 0;

        }

        .cta-services-section .row {
            min-height: 330px;
        }

        .cta-services-section h2 {
            font-size: 27px;
            margin-bottom: 22px;
        }

        .cta-services-section p {
            font-size: 14px;
        }

        .cta-services-section .btn-orange {
            margin: 0;
            width: 195px;
            font-size: 20px;
        }

    }

    @media only screen and (max-width: 390px) {

        .about-services-section .services-diy h3,
        .about-services-section .services-handle h3 {
            font-size: 33px;
        }

        .cta-services-section h2 {
            font-size: 24px;
        }

        .cta-services-section p {
            font-size: 13px;
        }
    }